numpy < 1.29.0
pyarrow==16.1.0
# Later version 1.38.7 is breaking authentication. 
# check compatibility with other applications that depend on botocore(DMF, DSift, etc.)
boto3>=1.35.74,<=1.38.18
mmh3
psutil
polars>=1.9.0
transformers
## install fast-text for the platforms that we have tested with
## for all other platforms, require that the user install fasttext
fasttext-wheel ; sys_platform=='darwin' or sys_platform=="win32"
fasttext-wheel ; sys_platform=="linux" and platform_release=="6.12.13-200.fc41.aarch64"
fasttext-wheel ; sys_platform=="linux" and platform_release=="ubuntu"
huggingface-hub >= 0.21.4, <1.0.0
